* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px 0;
  gap: 30px;
  z-index: 10;
  padding: 30px 80px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}

.nav.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.logo {
  margin-right: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.menu__link {
  font-size: 1.8em;
  color: #222222;
  font-weight: 700;
  line-height: 25.2px;
  /* 140% */
  position: relative;
}

.menu__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #FFA01B;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.menu__link:hover::before {
  content: '';
  position: absolute;
  background: url("../../img/overlay1.svg") no-repeat;
  z-index: -1;
  display: block;
  width: 34px;
  height: 36px;
  left: -15px;
  top: -10px;
}

.btn {
  border-radius: 12px;
  background: #F7859C;
  padding: 10px 28px;
  color: #FFFFFF;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 25.2px;
  /* 140% */
}

.menu__icon {
  display: none;
}

.menu__body._active .menu__link, .menu__icon._active .menu__link {
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #222222;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 2.4em;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
}

.menu__icon._active span, .menu__icon._active::before, .menu__icon._active::after {
  background-color: #FFFFFF;
}

.hero {
  position: relative;
  z-index: 5;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__title {
  color: #222;
  font-weight: 700;
  line-height: 87.48px;
  /* 90.186% */
  margin-bottom: 45px;
}

.hero__desc {
  color: #404756;
  font-size: 1.8em;
  line-height: 25.2px;
  /* 140% */
  max-width: 429px;
  margin-bottom: 29px;
}

.hero__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__left, .hero__right {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero__left {
  top: 10%;
}

.hero__left img {
  position: absolute;
  left: 0;
}

.hero__right {
  top: 85px;
}

.hero__right img {
  position: absolute;
  right: 0;
  width: 634px;
  height: 707px;
}

.Collection {
  max-width: 100%;
  padding-right: 16vw;
  padding-left: 16vw;
  padding-bottom: 90px;
}

.Collection__title {
  text-align: center;
}

.title__overlay {
  color: #222;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 25.2px;
  /* 140% */
  position: relative;
}

.title__overlay::before {
  content: '';
  position: absolute;
  width: 34px;
  height: 36px;
  display: block;
  background: url("../../img/overlay1.png") no-repeat;
  z-index: -1;
  left: -18px;
  top: -10px;
}

.Collection__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.collection__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__post {
  width: 374px;
  height: 200px;
}

.collection__post h4 {
  color: #222;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 21.6px;
  /* 90% */
  margin-bottom: 17px;
  padding-top: 28px;
}

.collection__post p {
  color: #404756;
  font-size: 1.8em;
  line-height: 25.2px;
  /* 140% */
  width: 332px;
  padding-bottom: 32px;
}

.collection__post:not(:last-child) {
  border-bottom: 2px solid #404756;
}

.rarity {
  padding-right: 16vw;
  padding-left: 16vw;
  max-width: 100%;
  overflow: hidden;
  background: #FBF1E6;
  padding-top: 139px;
}

.line {
  width: 100vw;
  height: 1px;
  background: rgba(64, 71, 86, 0.6);
  margin: 68px 0;
}

.wave {
  width: 100%;
}

.rarity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.rarity__item h3 {
  margin-bottom: 31px;
}

.rarity__text {
  max-width: 360px;
}

.rarity__text p {
  color: #404756;
  font-size: 1.8em;
  line-height: 25.2px;
  /* 140% */
}

.rating__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31.891px;
  width: 200px;
}

.rating span {
  font-size: 1.8em;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 16.2px;
  /* 90% */
}

.rating__item img {
  width: 17px;
  height: 18px;
}

.releases {
  width: 100%;
  padding-right: 16vw;
  padding-left: 16vw;
}

.releases__head {
  text-align: center;
}

.releases__head h2 {
  margin-bottom: 227px;
}

.releases__body {
  padding-top: 100px;
}

.releases__post {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0%);
  padding-top: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 376px;
  padding-left: 80px;
}

.releases__post img {
  z-index: -1;
  position: absolute;
}

.releases__post:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: -1;
}

.releases__post .scroll__bar:before {
  content: '';
  width: 0;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 20.3%;
  border-right: 2px dashed pink;
  z-index: 1;
}

.post__text {
  width: 360px;
  height: 204px;
}

.post__text span {
  color: #222;
  font-family: Montserrat;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 16.2px;
  /* 90% */
  margin-bottom: 9px;
  display: block;
}

.post__text h3 {
  color: #222;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 32.4px;
  /* 90% */
  margin-bottom: 23px;
}

.post__text p {
  color: #404756;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 25.2px;
  /* 140% */
}

html,
body {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-size: 9.7em;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 6.5em;
}

h3 {
  font-size: 3.6em;
}

h4 {
  font-size: 2.4em;
}

.title {
  position: relative;
  color: #222;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.2px;
  /* 140% */
  z-index: 1;
}

.title::before {
  content: '';
  background: url("../img/overlay1.svg") no-repeat;
  display: block;
  width: 34px;
  height: 36px;
  position: absolute;
  z-index: -1;
  -webkit-transform: translate(-30%, -35%);
          transform: translate(-30%, -35%);
}

.hidden {
  display: none;
}
