@import "./index"; // получаем все файлы

html,
body {
	font-size: 10px;
}
body {
	font-family: $ff-openSans;
	background: #f4f4f4;
}
.container {
	max-width: 1440px; //1440 + 30padding = 1470;
	padding: 0 15px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
h1 {
	font-size: 9.7em;
	font-family: $ff-mont;
} //97px
h2 {
	font-size: 6.5em;
} //65px
h3{
	font-size: 3.6em;
} //36px
h4{
	font-size: 2.4em;
} //24px
// =====================================
.title{
	position: relative;
	color: #222;
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 25.2px; /* 140% */
	z-index: 1;

	&::before{
		content: '';
		background: url('../img/overlay1.svg') no-repeat;
		display: block;
		width: 34px;
		height: 36px;
		position: absolute;
		z-index: -1;
		transform: translate(-30%, -35%);
	}
}

// .title::before{
// 	content: attr(data-title);
// 	display: block;
// 	color: #222;
// 	font-family: $ff-openSans;
// 	font-size: 18px;
// 	font-style: normal;
// 	font-weight: 700;
// 	line-height: 25.2px; /* 140% */
	
// }
// .title::after{
// 	content: '';
// 	background: url('../../img/overlay1.png') no-repeat;
// 	display: block;
// 	width: 34px;
// 	height: 36px;
// 	top: 0;
// 	left: 0;
// 	position: absolute;
// }
.hidden{
	display: none;
}